body {
	font-family: 'Open Sans', sans-serif;
}

@media print {
    header * {display:none;}
    .map-container * {display:none;}
    .body-text, .body-text > * {
    	display: block !important;
  	}
}

@page { size: auto;  margin: 0mm; }

.main-header {
	margin: 20px 0 0 0;
	padding: 0;
	text-align: center;
	font-family: 'Anonymous Pro', monospace;
}

.main-subheader {
	margin: 10px 0 0 0;
	padding: 0;
	text-align: center;
	font-family: 'Anonymous Pro', monospace;
}

.main-content {
	width: 100%;
}

.map-container {
	width: 70%;
	margin: 0 auto;
}

#map {
	
}

.states-info {
	width: 65%;
	margin: 0 auto;
}

.state-info {
	text-align: center;
}

.state-info-p {
	width: 80%;
}

.form-disclaimer {
	margin-bottom: 40px;
	color: red;
}